|$('#add_task').foundation('reveal', 'close');
|$('#new_task')[0].reset();
|$("##{@task.state_name}").append('<li class="ui-state-default task ui-sortable-handle" id="task_#{@task.id}"><a data-reveal-id="task_#{@task.id}_modal" href="#">\
   \
   #{@task.title}\
   </a>\
   </li><div class="reveal-modal" data-reveal="" id="task_#{@task.id}_modal">\
    #{escape_javascript(render('tasks/task_info', task: @task))}</div>');