=semantic_form_for @task, remote: true do |f|
  =f.inputs do
    =f.input :project_id, as: :hidden, input_html:{value: @task.project.id}
    =f.input :title
    =f.input :user, as: :select, collection: @task.project.users
    =f.input :description
    =f.input :time
    =f.input :tag_list, as: :string
  =f.actions