=semantic_form_for @task, remote: true do |f|
  =f.input :project_id, as: :hidden, input_html:{value: @task.project.id}
  =f.input :title, label:"Заголовок"
  -if @task.new_record?
    =f.input :user, as: :select, collection: @task.project.users, label:"Пользователь"
  =f.input :description, label:"Описание", :input_html=>{rows:5}
  =f.input :time, label:"Время в минутах"
  =f.input :tag_list, as: :string, label: "Теги"
  =f.actions